<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <!-- Corremos los partials -->
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../partials/header') %>
    </div>
    <main>
      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">
              Select the product ID that you want to edit
            </h2>
          </div>
        </div>
        <div class="col-12">
          <form
            action="/store/edit/<%=
          productSent.id %>?_method=GET"
            method="POST"
          >
            <!-- @nacuna: We need to research what conditional to use so this form action takes the Product ID picked above to edit the page-->
            <div class="col-12 col-md-6">
              <label for="id" class="form-label">Product ID:</label>
              <select name="id" id="id" class="form-input">
                <% productSent.forEach(product => { %>
                <option
                  value="<%=
                product.id %>"
                >
                  <%= product.id %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="row product-detail">
              <div class="col-12">
                <button type="submit" class="buy-now-button">Go!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
