<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>  <!-- Corremos los partials -->
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../partials/header') %>
    </div>
    <main>
      <div class="section-payment-methods">
        <div class="container-payment-methods">
          <div class="container-payment-credit-card">
            <i class="icon-payment bi bi-credit-card"></i>
            <div class="container-payment-details">
              <h4>Credit card</h4>
              <p>Visa, AMEX, MasterCard</p>
            </div>
          </div>
          <div class="container-payment-paypal">
            <i class="icon-payment bi bi-wallet"></i>
            <div class="container-payment-details">
              <h4>PayPal</h4>
              <p>Pay with your PayPal account</p>
            </div>
          </div>
          <div class="container-payment-crypto">
            <i class="icon-payment bi bi-currency-bitcoin"></i>
            <div class="container-payment-details">
              <h4>BTC</h4>
              <p>Transfer from your wallet</p>
            </div>
          </div>
          <div class="container-payment-cash">
            <i class="icon-payment bi bi-currency-dollar"></i>
            <div class="container-payment-details">
              <h4>Mercado Pago</h4>
              <p>We got you, fellow Argies!</p>
            </div>
          </div>
        </div>
      </div>
      <section class="section-home-grids">
        <h3 class="grids-titles">New arrivals</h3>
        <section class="top-new-arrivals">
          <% productSent.forEach(product => { %>
          <article class="product-new-arrivals">
            <a href="/store/product/<%= product.id %>">
            <i class="starred-icon bi bi-eye"></i>
            </a>
            <div class="container-products-new-arrivals">
              <img class="product-image" src="/img/cart-img/<%= product.imageProduct %>"/>
              <p class="details"><%= product.name %></p>
            </div>
          </article>
          <% }) %>
        </section>
      </div>
    </section>
      </section>
      <section class="section-middle-grid">
        <div class="container-middle-grid">
          <h3 class="grids-titles">Best Discounts.</h3>
          <!-- <img class="main-image-grid" src="../img/img-studio.jpg" /> -->
          <section class="most-liked-libraries">
            <% productSent.forEach(product => { %>
              <% if(productSent.discount > 0) { %> <!-- @Nicoacu: will leave this conditional here but needs to be reviewed as it's not working as intended.  -->
            <article class="product">
              <i class="starred-icon bi bi-eye"></i>
              <div class="container-products">
                <img class="product-image" src="../img/cart-img/<%= product.imageProduct %>" />
                <div class="container-details-products">
                  <p class="prices">$<%= product.price %></p>
                  <p class="discounts"><%= product.discount %>% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details"><%= product.name %></p>
              </div>
            </article>
            <% } %>
            <% }) %>
          </section>
        </div>
      </section>
      <h3 class="grids-titles">Our favorite artists.</h3>
      <section class="section-home-commends">
        <div class="container-commends-main">
          <img class="person-commend-img" src="../img/img-person.jpg" />
          <p class="commends-name-person">SoundScrapes</p>
        </div>
        <div class="container-commends-main">
          <img class="person-commend-img" src="../img/img-person (2).jpg" />
          <p class="commends-name-person">Adhera</p>
        </div>
        <div class="container-commends-main">
          <img class="person-commend-img" src="../img/img-person (3).jpg" />
          <p class="commends-name-person">Bongo</p>
        </div>
      </section>
      <section class="section-join-us">
        <div class="container-join-us">
          <h2 class="grids-titles">Want to list a new product?</h2>
          <a href="/store/create" class="mobile-button-sign-up-main">Of Course!</a>
          <a href="/store/edit" class="mobile-button-sign-up-main">Actually I need to edit</a>
        </div>
      </section>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
