<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/head') %>
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../../partials/header') %>
    </div>
    <main>
        <div class="container-products-wrapper">
            <div class="row">
              <div class="col-12">
                <h2 class="products-title">Edit Profile</h2>
              </div>
            </div>
            

            <div class="col-12">
              <form action="/profile/edit/<%=user.id%>" method="POST"> <!-- @nacuna: We need to research what conditional to use so this form action takes the Product ID picked above to edit the page-->
                  <div class="row product-detail">
                  <div class="col-12 col-md-6">
                    <label for="name" class="form-label">First Name</label>
                    <input
                      type="text"
                      id="name"
                      name="first_name"
                      placeholder="<%= user.first_name %>"
                      value="<%= user.first_name %>"
                      class="form-input"
                    />
                  </div>

                  <div class="col-12 col-md-6">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input
                      type="text"
                      id="last_name"
                      name="last_name"
                      placeholder="<%= user.last_name %>"
                      class="form-input"
                      value="<%= user.last_name %>"
                    />
                  </div>

                  <div class="col-12 col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="text"
                      id="email"
                      name="email"
                      placeholder=""
                      class="form-input"
                      value="<%= user.email %>"
                    />
                  </div>

                  <div class="col-12 col-md-6">
                    <label for="password" class="form-label">New Password</label>
                    <input
                        class="input-form-control-pswRegister"
                        type="password"
                        name="password"
                        id="password"
                        required
                        min="8"
                    />
                  </div>

                  <div class="col-12">
                    <label for="description" class="form-label"
                      >Producer Description</label
                    >
                    <textarea
                      name="description_producer"
                      id="description_producer"
                      class="form-input"
                      placeholder="<%= user.description_producer %>"
                      value="<%= user.description_producer %>"
                    ><%=user.description_producer %></textarea>
                  </div>

                  <div class="col-12 col-md-6">
                    <label for="image_producer" class="form-label">Update an image</label>
                    <input
                      type="file"
                      id="image_producer"
                      name="image_producer"
                      accept="image/*, .pdf"
                      class="form-input"
                    />
                  </div>
                  
                  <div class="col-12">
                    <button type="submit" class="buy-now-button">Save</button>
                  </div>
                </div>
              </form>

            <form action="/profile/delete/<%= user.id %>" method = POST>
              <button type="submit" class="delete-product-button">Delete User Account</button>
            </form>

            </div>
          </div>
    </main>
    <%- include ('../../partials/footer') %>
  </body>
</html>
