<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/head') %>
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../../partials/header') %>
    </div>
    <main>
        <h2> Welcome <%= user.firstName %> </h2>
        <div> <%= user.email %> </div> 
        <!-- %= user.image %>  -->
        <img src = "..\..\public\img\usersImg\1642982366609_img.jpg">
            
        <br>

        <div class="main-form">
          <section>
            <div class="main-form-structure">
              <form action="products/create"
                    method="GET"
                    class="register-form-container"
                    enctype="multipart/form-data">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">
                    Sell a new product
                  </button>
                </p> 
              </form>

              <form action="products/edit"
                    method="GET"
                    class="register-form-container"
                    enctype="multipart/form-data">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">
                    Edit your products
                  </button>
                </p> 
              </form>

              <form action="profile/edit/"
                  method="GET"
                  class="register-form-container"
                  enctype="multipart/form-data">
              <p class="form-btn-container">
                <button type="submit" class="btn-form-signin">
                  Edit your profile
                </button>
              </p> 
            </form>

            </div>
          </section>
        </div>
        <form method="GET" action="/logout">
          <button type="submit" class="btn-form-login">LOGOUT</button>
        </form>
    </main>
    <%- include ('../../partials/footer') %>
  </body>
</html>
