<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/head') %>
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../../partials/header') %>
    </div>
    <main>
        
        <div class = "profile-image">
          <h2 class = "profile-title"> Welcome <%= user.first_name %> <%= user.last_name %></h2>
          <img src = "../img/usersImg/<%= user.image_producer%>">
        </div>
            
        <br>

        <div class="main-form">
          <section>
            <div class="main-form-structure">
              <form action="products/create"
                    method="GET"
                    class="register-form-container"
                    enctype="multipart/form-data">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">
                    Sell a new product
                  </button>
                </p> 
              </form>

              <form action="products/edit"
                    method="GET"
                    class="register-form-container"
                    enctype="multipart/form-data">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">
                    Edit your products
                  </button>
                </p> 
              </form>

              <form action="profile/edit/"
                  method="GET"
                  class="register-form-container"
                  enctype="multipart/form-data">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">
                    Edit your profile
                  </button>
                </p> 
              </form>

              <form method="GET" action="/logout" class="register-form-container">
                <p class="form-btn-container">
                  <button type="submit" class="btn-form-signin">Logout</button>
                </p>
              </form>

            </div>
          </section>
        </div> 
    </main>
    <%- include ('../../partials/footer') %>
  </body>
</html>
