<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/head') %>
  <!-- Corremos los partials -->
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../../partials/header') %>
    </div>
    <main>
      <div class="container-products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Edit product</h2>
          </div>
        </div>
        <div class="col-12">
          <form action="/products/edit/<%=product.id %>" method="POST" enctype="multipart/form-data">
            <div class="row product-detail">
              
              <div class="col-12 col-md-6">
                <label for="name" class="form-label">Product Name</label>
                <input
                  type="text"
                  id="product_name"
                  name="product_name"
                  placeholder="<%= product.product_name %>"
                  value="<%= product.product_name %>"
                  class="form-input"
                />
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'product_name'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>

              <div class="col-12 col-md-6">
                <label for="price" class="form-label">Price</label>
                <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="E.g: 9.99"
                  class="form-input"
                  value="<%= product.price %>"
                />
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'price'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>

              <div class="col-12 col-md-6">
                <label for="discount" class="form-label">Discount</label>
                <input
                  type="text"
                  id="discount"
                  name="discount"
                  placeholder="Ej: 15"
                  class="form-input"
                  value="<%= product.discount %>"
                />
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'discount'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>

              <div class="col-12 col-md-6">
                <label for="genre" class="form-label">Genre</label>
                <select name="genre" id="genre" class="form-input">
                  <% for(let index = 0; index < genres.length; index++){ %>
                    <option value = "<%= genres[index].id%>">
                      <%= genres[index].genre_name%> 
                    </option>
                  <% } %>
                </select>
              </div>

              <div class="col-12">
                <label for="description" class="form-label"
                  >Product Description</label>
                <textarea
                  name="descriptionProduct"
                  id="descriptionProduct"
                  class="form-input"
                  placeholder="<%= product.product_description %>"
                  value="<%= product.product_description %>"><%=product.product_description %></textarea>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'descriptionProduct'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>

              <div class="col-12 col-md-6">
                <label for="imageProduct" class="form-label">Update an image</label>
                <input
                  type="file"
                  id="imageProduct"
                  name="imageProduct" 
                  class="form-input"
                />
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'imageProduct'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>

              <div class="col-12">
                <label for="description" class="form-label">
                  Artist Description:
                </label>
                <textarea
                  name="producer"
                  id="producer"
                  class="form-input"
                  placeholder="<%= product.producer %>"
                  value="<%= product.producer %>"
                ><%=product.producer%></textarea>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'producer'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>
              
              <div class="col-12">
                <button type="submit" class="buy-now-button">Save</button>
              </div>

            </div>
          </form>

          <form action="/products/delete/<%= product.id %>" class = "form-delete" method="POST">
            <button type="submit" class="delete-product-button">Delete product</button>
          </form>

          <script type="text/javascript"> 
            window.addEventListener("load", function(){
              let formDelete = document.querySelector(".form-delete");
              formDelete.addEventListener("submit", function(e){
                let result = confirm('You are sure?');
                if (result === true) {
                    alert('your product was deleted');
                    return;
                } else { 
                    alert('we will keep your product ;)');
                    e.preventDefault();
                }
              }); 
            });
          </script>

          </div>
        </div>
      </div>
    </main>
    <%- include ('../../partials/footer') %>
  </body>
</html>
