<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../partials/header') %>
    </div>
    <main>
      <div class="main-form">
        <section>
          <div class="main-form-structure">

            <ul class="errorsFront"></ul>
      
            <form
              action="/register"
              method="POST"
              class="register-form-container"
              enctype="multipart/form-data"
            >
              <div class="form-wrapper-fullname">
                <input
                  class="input-form-control-fullname"
                  type="text"
                  name="first_name"
                  id = "firstName"
                />
                <div class="form-label-fullname">
                  First name
                </div>
                <i class="bi bi-person-circle reg-user-icon"></i>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'first_name'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
            </small>
               
              <div class="form-wrapper-fullname">
                <input
                  class="input-form-control-fullname"
                  type="text"
                  name="last_name"
                  id = "lastName";
                />
                <div class="form-label-fullname">
                  Last name
                </div>
                <i class="bi bi-person-circle reg-user-icon"></i>
              </div>
              <small class = "text-danger">
              <% if(typeof errors != 'undefined'){ %>
                <% for(let index = 0; index< errors.length; index++){ %>
                  <% if(errors[index].param == 'last_name'){ %>
                    <%= errors[index].msg %> 
                  <% } %>
                <% } %>
              <% } %> 
            </small>

              <div class="form-wrapper-fullname">
                <select name="category" id="category" class="form-input">
                  <% for(let index = 0; index < usersCategory.length; index++){ %>
                    <option value = "<%= usersCategory[index].id %>">
                      <%= usersCategory[index].user_type %> 
                    </option>
                  <% } %>
                </select>
                <div class="form-label-fullname">
                  Category
                </div>
                <i class="bi bi-person-lines-fill reg-category-icon"></i>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'category'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>   
              </small>
 
              <div class="form-wrapper-emailRegister">
                <input
                  class="input-form-control-emailRegister"
                  type="email"
                  name="email"
                  id="email"
                />
                <div class="form-label-emailRegister">
                  Email
                </div>
                <i class="bi bi-envelope-fill reg-email-icon"></i>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'email'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>  
              </small>

              <div class="form-wrapper-pswRegister"> 
                <input
                  class="input-form-control-pswRegister"
                  type="password"
                  name="password"
                  id="password"
                  required
                />
                <div class="form-label-pswRegister">
                  Password
                </div>
                <i class="bi bi-eye-slash-fill reg-psw-icon"></i>
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'password'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>  
              </small>

              <div class="form-wrapper-pswRegister"> 
                <textarea
                  class="input-form-control-pswRegister" 
                  name="description_producer"
                  id="description_producer" 
                ></textarea><div class="form-label-pswRegister">Description</div> 
              </div>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'description_producer'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>  
              </small>

        
              <p>
                <label for="image">Profile Picture </label>
                <input
                  type="file"
                  name="image"
                  id="photo"
                />
              </p>
              <small class = "text-danger">
                <% if(typeof errors != 'undefined'){ %>
                  <% for(let index = 0; index< errors.length; index++){ %>
                    <% if(errors[index].param == 'image'){ %>
                      <%= errors[index].msg %>
                    <% } %>
                  <% } %>
                <% } %>  
              </small>

              <p class="form-btn-container">
                <button type="submit" class="btn-form-signin">
                  Sign Up
                </button>
                <div class="login-separation-container">
                    <p class="login-separation">
                        Or
                    </p>
                </div>
                <button type="submit" class="btn-form-signup">
                  <a class="btn-text-signup" href="https://www.facebook.com/"
                    >Sign Up with Facebook</a
                  >
                </button>
                <button type="submit" class="btn-form-signup">
                  <a
                    class="btn-text-signup"
                    href="https://accounts.google.com/signin/v2/identifier?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                    >Sign Up with Google</a
                  >
                </button>
              </p>
              <p class="privacy-policy">
                By signing up, you agree to Musify's Terms of Use, Privacy Policy
                and Cookie Policy.
              </p>
            </form>
          </div>
          <div class="text-login-container">
            <p class="login-form">
              Already have an account?
              <a href="/login" class="hiper-login"> Log in. </a>
            </p>
          </div>
        </section>
      </div>
    </main>

    <%- include ('../partials/footer') %>
    <script src='../../../public/javascript/registerValidation.js'></script>

  </body>
</html>