<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../partials/header') %>
    </div>
    <main>
        ESTE ES UN USUARIO LA PUTA MADRE
        <h2> Hi <%= user.firstName %> </h2>
        <img src = "../../../public/img/<%= user.image %>" >
        <br>
        <br>
        <div> <%= user.email %> </div> 
        <form method="GET" action="/logout">
          <button type="submit" class="btn-form-login">LOGOUT</button>
        </form>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
